
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400,600&display=swap');
      </style>
    
  <style>
    .gps-495965045650359177 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-495965045650359177 .pointer-events-auto{pointer-events:auto}.gps-495965045650359177 .relative{position:relative}.gps-495965045650359177 .mx-auto{margin-left:auto;margin-right:auto}.gps-495965045650359177 .mb-0{margin-bottom:0}.gps-495965045650359177 .\!inline{display:inline!important}.gps-495965045650359177 .flex{display:flex}.gps-495965045650359177 .grid{display:grid}.gps-495965045650359177 .h-full{height:100%}.gps-495965045650359177 .w-full{width:100%}.gps-495965045650359177 .max-w-full{max-width:100%}.gps-495965045650359177 .flex-col{flex-direction:column}.gps-495965045650359177 .gap-y-0{row-gap:0}.gps-495965045650359177 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495965045650359177 .duration-200{transition-duration:.2s}.gps-495965045650359177 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495965045650359177 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-495965045650359177 .\[\&_p\]\:inline p{display:inline}.gps-495965045650359177 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-495965045650359177 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gsoeXJbKng"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:var(--g-s-3xl);--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--pt-tablet:var(--g-s-3xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsoeXJbKng mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfX2hI2hBB relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gL8fjd8LUX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:800px;--w-tablet:800px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gL8fjd8LUX mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJ_7rw2ZPq relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g63PICQPrV "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:33px;--size-tablet:33px;--size-mobile:29px;word-break:break-word"
        >
        <p>Headline About Timeframe To Reach The Desired Outcome</p>
        </h2>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gL0L3_9-Iv"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:700px;--w-tablet:700px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gL0L3_9-Iv mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMhBWe7MWt relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gFeDG6hL4F "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gb7ne3GYqM"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-3xl);--pt-mobile:var(--g-s-3xl);--pt-tablet:var(--g-s-3xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gb7ne3GYqM mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gs9aMn24BH relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gXoarWsnHJ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-l);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXoarWsnHJ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-_P6CArWn relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gSzJv8WjwD"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-79aa9d60-0d15-47e6-8b84-ac71d836428c.png" | asset_url }}" data-srcset="{{ '432750572815254551-79aa9d60-0d15-47e6-8b84-ac71d836428c.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-79aa9d60-0d15-47e6-8b84-ac71d836428c.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-79aa9d60-0d15-47e6-8b84-ac71d836428c.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="160" height="160" alt="Alt Image" priority base-src
    sizes="100vw"
    style="--aspect:1/1;--aspect-tablet:160/160;--aspect-mobile:160/160;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gL505K8xAP relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gN4eDmLOox "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <h3
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        <p>3 Mg Of Melatonin</p>
        </h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="guk2YPcZR7 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g6dS1kMbR4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--cg:var(--g-s-l);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6dS1kMbR4 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJngKzUM6X relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gcBkbtg6Fu"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-30d21f3e-f075-4f71-9017-9a2e279c07e3.png" | asset_url }}" data-srcset="{{ '432750572815254551-30d21f3e-f075-4f71-9017-9a2e279c07e3.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-30d21f3e-f075-4f71-9017-9a2e279c07e3.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-30d21f3e-f075-4f71-9017-9a2e279c07e3.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="160" height="160" alt="Alt Image" priority base-src
    sizes="100vw"
    style="--aspect:1/1;--aspect-tablet:160/160;--aspect-mobile:160/160;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGlqj46k7R relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g4zndDf3Yy "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <h3
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        <p>L-Theanine And Botanicals</p>
        </h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g_koO3qc7Y "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gsvv_sVyH_"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--cg:var(--g-s-l);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsvv_sVyH_ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0jbkfJdtv relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gGwHGTIsmN"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-321063ec-8dd0-4909-ac40-962d8b9ea4fe.png" | asset_url }}" data-srcset="{{ '432750572815254551-321063ec-8dd0-4909-ac40-962d8b9ea4fe.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-321063ec-8dd0-4909-ac40-962d8b9ea4fe.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-321063ec-8dd0-4909-ac40-962d8b9ea4fe.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="160" height="160" alt="Alt Image" priority base-src
    sizes="100vw"
    style="--aspect:1/1;--aspect-tablet:160/160;--aspect-mobile:160/160;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSaxBUTmRO relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gUpsS8URYM "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <h3
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        <p>No Artificial Flavors, Gluten Free</p>
        </h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gXl4D-XVLD "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gXHJAU7sb1 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gaP5ixhAUi"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt-mobile:var(--g-s-3xl);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-b4a8d068-6f41-44db-878b-722425ef8612.png" | asset_url }}" data-srcset="{{ '432750572815254551-b4a8d068-6f41-44db-878b-722425ef8612.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-b4a8d068-6f41-44db-878b-722425ef8612.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-b4a8d068-6f41-44db-878b-722425ef8612.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="856" height="856" alt="Alt Image" priority base-src
    sizes="100vw"
    style="--aspect:856/856;--aspect-tablet:856/856;--aspect-mobile:856/856;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-495965045650359177 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c4e72d-3/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=495958189020283785&sectionId=495965045650359177)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
